@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

html {
  width: 100vw;
  height: 100vh;
  background: rgb(53, 98, 16);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(53, 98, 16, 1) 0%,
    rgba(85, 131, 4, 1) 35%,
    rgba(108, 143, 50, 1) 66%,
    rgba(242, 232, 128, 1) 93%
  );
}

body > div,
.App,
.container {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #eaeaea;
  width: 70rem;
  height: 40rem;
  padding: 1rem 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.avocado-logo {
  height: 157px;
  width: 224px;
}

.avocado {
  width: 73px;
  height: 110px;
}

header {
  display: flex;
  flex-flow: row wrap;

  p {
    font-style: italic;
    margin: 0;
    text-align: right;
  }
}

.header-content {
  align-self: center;
  padding-left: 1.25rem;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: auto;
  margin: 1rem 4rem 0 4rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  border: 1px solid #a3a3a3;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 1.5rem;
  width: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mortgage,
.total {
  margin: 0 auto;
}

.total-card {
  background-color: white;
  border-radius: 3px;
  padding: 25px 30px;
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.29);
  width: 390px;
  display: flex;
  p {
    align-self: center;
    margin: 0 auto;
  }
  @extend h2;
}
