.primary-btn {
  @extend .allButton;
  background-color: white;
  color: black;
  border-color: white;

  &.active {
    background-color: #aa471e;
    color: white;
    border: none;
    box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.29);
    &:hover {
      background-color: darken(#aa471e, 10%);
    }
  }
  &:hover {
    background-color: darken(white, 10%);
  }
}

button:not(:last-child) {
  margin-right: 10px;
}

.allButton {
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  box-shadow: 4px 3px 6px 1px rgba(0, 0, 0, 0.29);
}
